@import "variables.css";

/*Components*/
@import "components/statusbar.css";
@import "components/heather.css";
@import "components/nav.css";
@import "components/badges.css";
@import "components/user.css";

/*Screens*/
@import "screens/index.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/hash.css";
@import "screens/more.css";
@import "screens/chat.css";


body{
    margin-bottom:80px;
}

input:focus{
    outline:none;
}

a {
    outline:none;
    text-decoration: none;
    color:inherit;
}

#appropriate-size{
    display:flex;
    flex-direction: column;
    position:absolute;
    z-index:99;
    height:100vh;
    background-color: tomato;
    width:100vw;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    top:0px;
}


@media screen and (max-width:500px) and (min-width:280px){
    #appropriate-size{
        display:none;
    }
}