.statusbar{
    display:flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color:whitesmoke;
    position:fixed;
    width:100%;
    box-sizing: border-box;
    top:0px;
    z-index: 1;
}

.statusbar__icons i:not(:last-child){
    margin-right:5px;
}